.btn {
   cursor: pointer;
   width: 200px;
   height: 30px;
   border-radius: 5px;
   color: #fff;
   background-color: #464d91;
   border: none;
   transition: 0.2s background-color;
}

.btn:hover {
   background-color: #5b608f;
}

.container {
   text-align: center;
   margin-top: 30px;
}
